<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="socials">
      {% include socials.html %}
    </div>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{site.baseurl}}/about.html">ABOUT</a></li>
      <li><a href="{{site.baseurl}}/contact.html">CONTACT</a></li>
      <li><a href="{{site.baseurl}}/music.html">MUSIC</a></li>
      <li><a href="{{site.baseurl}}/experiences.html">EXPERIENCES</a></li>
    </ul>
  </div>
</nav>
