<script type="application/ld+json">
{ "@context": "http://kirasumusic.com",
 "@type": "MusicGroup",
 "keywords": "music interactive projection mapping band New Orleans",
 "url": "https://kirasumusic.com",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://kirasumusic.com"
  },
 "author": {
    "@type": "Person",
    "name": "Paul D'Ambra",
    "sameAs": [
        "https://twitter.com/pauldambra",
        "https://github.com/pauldambra",
        "https://plus.google.com/u/0/+PaulDAmbraPlus"
    ]
  }
 }
</script>
