<a id="soundIcon" class="navIcon navbar-right" href="https://soundcloud.com/kirasumusic">
  <button type="button" class="btn navbar-btn">
    <i  class="fa fa-soundcloud white" aria-hidden="true"></i>
  </button>
</a>
<a id="fbIcon" class="navIcon navbar-right" href="https://www.facebook.com/kirasumusic">
  <button type="button" class="btn navbar-btn">
    <i  class="fa fa-2x fa-facebook white" aria-hidden="true"></i>
  </button>
</a>
<a id="twitterIcon" class="navIcon navbar-right" href="http://twitter.com/Kirasumusic">
  <button type="button" class="btn navbar-btn">
    <i  class="fa fa-2x fa-twitter white" aria-hidden="true"></i>
  </button>
</a>
<a id="instagramIcon" class="navIcon navbar-right" href="https://www.instagram.com/kirasumusic/">
  <button type="button" class="btn navbar-btn">
    <i  class="fa fa-2x fa-instagram white" aria-hidden="true"></i>
  </button>
</a>
<a id="youtubeIcon" class="navIcon navbar-right" href="https://www.youtube.com/channel/UCFGkc4WqHr4UOlBfsciO7YA">
  <button type="button" class="btn navbar-btn">
    <i  class="fa fa-2x fa-youtube white" aria-hidden="true"></i>
  </button>
</a>
