---
layout: default
---

<!-- Not sure why the custom_css isn't working... -->
<link rel="stylesheet" href="{{site.baseurl}}/css/sticky_footer_navbar.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/starry_night.css">

{{ content }}

<footer class="footer">
  <div class="showOnLoad">
    <div id="songPlayerBox"></div>
  </div>
</footer>

<script src="{{site.baseurl}}/js/flock.js" type="text/javascript"></script>
<script src="{{site.baseurl}}/js/MusicPlayer.js" type="text/javascript"></script>
<script src="{{site.baseurl}}/js/doneLoading.js" type="text/javascript"></script>

{% if page.sketch %}
  {% for js_file in page.sketch %}
  <script src='{{site.baseurl}}/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
